@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    min-height: 100vh;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #555555;
    line-height: 150%;
}

h1, h2, h3, h4 {
    font-weight: 600;
    line-height: 140%;
}

h1 {
    font-size: 27px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 19px;
}

h5 {
    font-size: 17px;
}

h6 {
    font-size: 15px;
}

#root {
    min-height: 100vh;
}