@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    min-height: 100vh;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #555555;
    line-height: 150%;
}

h1, h2, h3, h4 {
    font-weight: 600;
    line-height: 140%;
}

h2, h3, h4 {
    margin-bottom: 22px;
}

h5, h6 {
    font-weight: 500;
}

h1 {
    font-size: 27px;
    margin-bottom: 26px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 19px;
}

h5 {
    font-size: 17px;
}

h6 {
    font-size: 15px;
}

p, pre, ol, ul {
    margin-bottom: 32px;
}

ol {
    list-style: decimal inside;
}

ul {
    list-style: square inside;
}

pre {
    padding: 16px;
    background-color: #F3F3F3;
    border-radius: 8px;
}

blockquote {
    margin-bottom: 32px;
    padding: 32px;
    background: #F2F8F7;
    border-radius: 8px;
    font-style: italic;
}

blockquote p {
    margin-bottom: 0;
}

#root {
    min-height: 100vh;
}